[submodule "TestAutomation"]
	path = TestAutomation
    url = https://:u2idtmwvzyobcidlwpeqmzz4wzm3tbarvzulnhi3pyspdjwqrafa@visionlink.visualstudio.com/DefaultCollection/VSS/_git/TestAutomation
	branch = master
