<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="VSS.UserCustomer.Processor.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <applicationSettings>
    <VSS.UserCustomer.Processor.Settings>
      <setting name="KafkaUri" serializeAs="String">
        <value>10.210.246.165:9092</value>
      </setting>
      <setting name="ConsumerGroupName" serializeAs="String">
        <value>MasterDataUserCustomerConsumerJeannie1d</value>
      </setting>
      <setting name="TopicName" serializeAs="String">
        <value>VSS.Interfaces.Events.MasterData.IUserCustomerEvent-Merino1</value>
      </setting>
    </VSS.UserCustomer.Processor.Settings>
  </applicationSettings>
</configuration>