<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="LandfillContext" providerName="MySql.Data.MySqlClient" connectionString="server=rdsmysql-8469.c31ahitxrkg7.us-west-2.rds.amazonaws.com;database=VSS-Landfill-Dev;userid=vssLandfillUsr;password=(mRty94hER;Convert Zero Datetime=True;AllowUserVariables=True" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="LandFillServiceApiUrl" value="http://54.191.195.55/Landfill/api/v1/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ProjectMonitoringApiUrl" value="https://dev-projectmonitoring.vss-eng.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="UserName" value="autotester" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="Password" value="Visionlink17_" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="MySqlDBName" value="`VSS-Landfill-Dev`" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="KafkaEndpoint" value="tcp://10.97.99.172:9092" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>
