<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings xdt:Transform="Replace">
    <!--<add name="LandfillContext" providerName="MySql.Data.MySqlClient" connectionString="server=vss-mysql-dev1.ckjc8lklhczu.us-west-2.rds.amazonaws.com;port=3306;database=landfill;uid=landfill_op;password=Op3rat0r" />-->
    <add name="LandfillContext" connectionString="server=rdsmysql-8469.c31ahitxrkg7.us-west-2.rds.amazonaws.com;database=VSS-Landfill;userid=root;password=d3vRDS1234_;Convert Zero Datetime=True;AllowUserVariables=True"/>
  </connectionStrings>
  <appSettings xdt:Transform="Replace">
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="LandFillServiceApiUrl" value="http://54.191.195.55/Landfill/api/v1/" />
    <add key="ProjectMonitoringApiUrl" value="https://dev-projectmonitoring.vss-eng.com" />
    <add key="UserName" value="autotester" />
    <add key="Password" value="Visionlink17_" />
    <add key="MySqlDBName" value="`VSS-Landfill`"/>
    <add key="KafkaEndpoint" value="tcp://10.210.246.165:9092"/>
    <add key="AssetMasterDataTopic" value="VSS.VisionLink.Interfaces.Events.MasterData.Interfaces.IProjectEvent"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>