<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="LandfillContext" connectionString="server=vss-mysql-dev1.ckjc8lklhczu.us-west-2.rds.amazonaws.com;port=3306;database=landfill;uid=landfill_op;password=Op3rat0r" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings xdt:Transform="Replace">
    <add key="LandFillServiceApiUrl" value="http://10.210.246.188/LandfillService/api/v1/" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ProjectMonitoringApiUrl" value="https://dev-projectmonitoring.vss-eng.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="UserName" value="autotester" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="Password" value="Visionlink17_" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="MySqlDBName" value="`Landfill`" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="KafkaEndpoint" value="tcp://10.210.246.165:9092" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>