<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="LandfillContext" providerName="MySql.Data.MySqlClient" connectionString="server=rdsmysql-8469.c31ahitxrkg7.us-west-2.rds.amazonaws.com;database=VSS-Landfill-Dev;userid=vssLandfillUsr;password=(mRty94hER;Convert Zero Datetime=True;AllowUserVariables=True" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="LandFillWebApiBaseUrl" value="http://10.97.101.232/landfill" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="KafkaEndpoint" value="tcp://kafka1.alpha.vssengg.com:9092" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="KafkaDriver" value=".NET" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>
