<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="VSS.Kafka.DotNetClient.ConfigSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <section name="VSS.Kafka.DotNetClient.appSettings" type="System.Configuration.AppSettingsSection" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="Restproxylibrary.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="20" />
      <maximumFileSize value="4MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%date] [%thread] [%level] [%logger]- %message%newline%exception" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <!--<appender-ref ref="Console" />
      <appender-ref ref="RollingFileAppender"/>
      <appender-ref ref="ConsoleAppender" />
      -->      
      <appender-ref ref="RollingFile" />
      
    </root>
  </log4net>
  <appSettings>
    <!-- General settings -->
    <add key="RestProxyBaseUrl" value="http://vss-dev1.trimblepaas.com"/>
    <add key="RequestTimeout" value="00:05:00"/>
    <add key="RequestRetryCount" value="3"/>
    <add key="ContentTypeRestProxyBinary" value="application/vnd.kafka.binary.v1+json"/>
    <!-- not currently used at VSS -->
    <add key="ContentTypeRestProxyAvro" value="application/vnd.kafka.avro.v1+json"/>
    <!-- not currently used at VSS -->
    <add key="ContentTypeRestProxyDefault" value="application/vnd.kafka.v1+json"/>

    <!-- Producer settings -->
    <add key="ProducerBatchSize" value="10"/>
    <add key="ProducerBatchDelay" value="1000"/>

    <!-- Consumer settings -->
    <!-- ConsumeMaxBytesRange Test values 65536, 131072, 524288, 1048576, 2097152 -->
    <add key="ConsumeMaxBytesRange" value="16384"/>
    <add key="ConsumerRequestTimeout" value="00:05:00"/>
    <add key="ConsumerBatchDelay" value="100"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
