<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="Replace">
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="LandFillServiceApiUrl" value="http://10.210.246.143/LandfillService/api/v1/" />
    <add key="ProjectMonitoringApiUrl" value="https://T01-projectmonitoring.vss-eng.com"/>
  </appSettings>
</configuration>