<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings xdt:Transform="Replace">
    <add name="LandfillContext" providerName="MySql.Data.MySqlClient" connectionString="server=vss-mysql-dev1.ckjc8lklhczu.us-west-2.rds.amazonaws.com;port=3306;database=landfill;uid=landfill_op;password=Op3rat0r" />
  </connectionStrings>
  <!--<connectionStrings xdt:Transform="Replace">
    <add name="LandfillContext" providerName="MySql.Data.MySqlClient" connectionString="server=vss-t01-db-landfill-mysql.ckjc8lklhczu.us-west-2.rds.amazonaws.com;port=3306;database=landfill;uid=landfill_op;password=Op3rat0r"/>
  </connectionStrings>-->
  <appSettings xdt:Transform="Replace">
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="LandFillServiceApiUrl" value="http://10.210.246.188/LandfillService/api/v1/" />
    <add key="ProjectMonitoringApiUrl" value="https://dev-projectmonitoring.vss-eng.com"/>
    <!--<add key="LandFillServiceApiUrl" value="http://10.210.246.143/LandfillService/api/v1/" />
    <add key="ProjectMonitoringApiUrl" value="https://T01-projectmonitoring.vss-eng.com"/>-->
    <add key="UserName" value="autotester"/>
    <add key="Password" value="Visionlink16_"/>
    <add key="KafkaEndpoint" value="tcp://10.210.246.165:9092"/>
    <add key="CreateProjectTopic" value="VSS.VisionLink.Interfaces.Events.MasterData.Models.CreateProjectEvent"/>
  </appSettings>
</configuration>