<div class="container">
  <header>
    <div class="title">Fetch Data</div>
  </header>

  <div class="container-fluid" id="panel">
    <div class="row" id="fetchDataRow">
      <div class="fetchDataButtonsPanel col-lg-3">
        <div class="panel-heading">Request Types</div>
        <div class="panel-default">
          <button class="requestButton" (click)="getCMVDetails()">CMV Details</button>
          <button class="requestButton" (click)="getCMVDetails()">CMV Summary</button>
          <button class="requestButton" (click)="getCMVDetails()">CMV Change</button>
          <button class="requestButton" (click)="getCMVDetails()">MDP Summary</button>
          <button class="requestButton" (click)="getCMVDetails()">Pass Count Details</button>
          <button class="requestButton" (click)="getCMVDetails()">Pass Count Summary</button>
          <button class="requestButton" (click)="getCMVDetails()">CCA Summary</button>
          <button class="requestButton" (click)="getCMVDetails()">Temperature Details</button>
          <button class="requestButton" (click)="getCMVDetails()">Temperature Summary</button>
          <button class="requestButton" (click)="getCMVDetails()">Machine Speed Summary</button>
          <button class="requestButton" (click)="getCMVDetails()">Cut/Fill Statistics</button>
        </div>
      </div>

      <div class="fetchDataOutputPanel col-lg-9">
        <div class="panel-heading">Results</div>
        <div class="panel-default">

        </div>
      </div>
    </div>

  </div>
</div>



