<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="ForemanApiUrl" value="https://dev-mobile.vss-eng.com/foreman/Secure/ForemanSvc.svc/" />
  <!--<add key="RaptorApiUrl" value="http://rpt1.bna.trimble-wco.com:17001/api/v1/" />-->
  <add key="RaptorApiUrl" value="http://dev-raptor.vss-eng.com/Report/api/v1/" />
</appSettings>