<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <connectionStrings>
    <add name="VSPDB"
         connectionString="server=merino-utilization.ckjc8lklhczu.us-west-2.rds.amazonaws.com;database=Utilization_Feature;userid=XXXUSERXXX;password=XXXPASSWORDXXX;Convert Zero Datetime=True;AllowUserVariables=True" />
  </connectionStrings>
  <appSettings>
    <add key="DatabaseUser" value="utilization" />
    <add key="DatabasePassword" value="Ut1l1zat!on" />
  </appSettings>
</configuration>