<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="Replace">
    <add key="TCCBaseURL" value="https://www.myconnectedsite.com" />
    <add key="TCCUserName" value="vlproduction" />
    <add key="TCCOrganization" value="vlproduction" />
    <add key="TCCPassword" value="vldev_key5" />

    <add key="RaptorConfigLocation" value="D:\ProductionData" />
  </appSettings>
</configuration>