<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TagFileHarvester.TagFileHarvesterServiceSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.13.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="TCCBaseURL" value="https://www.myconnectedsite.com" />
    <add key="TCCUserName" value="vlbeta"/>
    <add key="TCCOrganization" value="vlbeta"/>
    <add key="TCCPassword" value="vlbeta_key8"/>
    <add key="RaptorConfigLocation" value="D:\ProductionData" />
  </appSettings>
  <applicationSettings>
    <TagFileHarvester.TagFileHarvesterServiceSettings>
      <setting name="TCCSynchMachineControlFolder" serializeAs="String">
        <value>Machine Control Data</value>
      </setting>
      <setting name="TCCSynchProductionDataArchivedFolder" serializeAs="String">
        <value>Production-Data (Archived)</value>
      </setting>
      <setting name="TCCSynchProductionDataFolder" serializeAs="String">
        <value>.Production-Data</value>
      </setting>
      <setting name="TCCSynchFilespaceShortName" serializeAs="String">
        <value>TrimbleSynchronizerData</value>
      </setting>
      <setting name="TagFileSubmitterRunTimeout" serializeAs="String">
        <value>00:05:00</value>
      </setting>
      <setting name="OrgProcessingDelay" serializeAs="String">
        <value>00:00:01</value>
      </setting>
      <setting name="ArchiveOnlySuccessfullFiles" serializeAs="String">
        <value>true</value>
      </setting>
      <setting name="ITaskHarvester" serializeAs="String">
        <value>LimitedConcurrencyTaskScheduler</value>
      </setting>
      <setting name="RefreshOrgsDelay" serializeAs="String">
        <value>00:20:00</value>
      </setting>
      <setting name="BookmarkTolerance" serializeAs="String">
        <value>00:30:00</value>
      </setting>
      <setting name="EnableHardScanningLogic" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BadFilesToleranceRollback" serializeAs="String">
        <value>00:01:00</value>
      </setting>
      <setting name="CacheEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FilenameDumpEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FolderSearchTimeSpan" serializeAs="String">
        <value>64.00:00:00</value>
      </setting>
      <setting name="UseModifyTimeInsteadOfCreateTime" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="BookmarkPath" serializeAs="String">
        <value>C:\Bookmarks</value>
      </setting>
      <setting name="SecondaryTagProcSvcIpAddr" serializeAs="String">
        <value>127.0.0.1</value>
      </setting>
      <setting name="ShortOrgName" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TCCRequestTimeout" serializeAs="String">
        <value>00:05:00</value>
      </setting>
      <setting name="MaxThreadsToProcessTagFiles" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="TagFileSubmitterTasksTimeout" serializeAs="String">
        <value>00:30:00</value>
      </setting>
      <setting name="NumberOfFilesInPackage" serializeAs="String">
        <value>1500</value>
      </setting>
      <setting name="TCCSynchProjectBoundaryIssueFolder" serializeAs="String">
        <value>Project Boundary (Issue)</value>
      </setting>
      <setting name="TCCSynchSubscriptionIssueFolder" serializeAs="String">
        <value>Subscription (Issue)</value>
      </setting>
      <setting name="TCCSynchOtherIssueFolder" serializeAs="String">
        <value>Other... (Issue)</value>
      </setting>
      <setting name="TagFilesFolderLifeSpanInDays" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="TagFileEndpoint" serializeAs="String">
        <value>http://10.97.96.42:4001/api/v2/tagfiles</value>
      </setting>
    </TagFileHarvester.TagFileHarvesterServiceSettings>
  </applicationSettings>


  <log4net>
    <appender name="Console" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%utcdate [%thread] %-5level %method - %message%newline" />
      </layout>
    </appender>

    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="E:\VLPDStorage\Logs\TagFileHarvester.log" />
      <appendToFile value="true" />
      <maximumFileSize value="1GB" />
      <maxSizeRollBackups value="5" />

      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%utcdate [%thread] %-5level %method - %message%newline" />
      </layout>
    </appender>

    <!--<appender name="ArchiveRollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="\\phx1-csn-nas2.thsglobal.local\nh1_iolv01_archives\TagFileHarvester.log" />
      <appendToFile value="true" />
      <maximumFileSize value="1GB" />
      <maxSizeRollBackups value="5" />

      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%utcdate [%thread] %-5level %method - %message%newline" />
      </layout>
    </appender>-->

    <root>
      <level value="DEBUG" />
      <appender-ref ref="Console" />
      <appender-ref ref="RollingFile" />
      <!--      <appender-ref ref="ArchiveRollingFile" />-->
    </root>
  </log4net>


</configuration>
