<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- planes solver parameters -->
    <add key="PlanesSolverDelta" value="0.0001"/>
    <add key="PlanesSolverPrecision" value="0.001"/>
    <add key="PlanesSolverPenalty" value="1"/>
    <add key="PlanesSolverMaxIterations" value="20000"/>
    <!-- drainage solver parameters -->
    <add key="SurfaceSolverCPU" value="SolverDrainageGridGradientDescent"/>
    <add key="SurfaceSolverGPU" value="SolverDrainageGridGradientDescentGPU"/>
    <add key="SurfaceSolverDelta" value="0.0125"/>
    <add key="SurfaceSolverPrecision" value="0.00001"/>
    <add key="SurfaceSolverMomentum" value="0"/>
    <add key="SurfaceSolverMaxIterations" value="28000"/>
    <add key="SurfaceSolverPenalty" value="5.0"/>
    <!-- rows solver parameters -->
    <add key="RowsSolverCPU" value="SolverRowsGradientDescent"/>
    <add key="RowsSolverGPU" value="SolverRowsGradientDescentGPU"/>
    <add key="RowsSolverDelta" value="0.008"/>
    <add key="RowsSolverInterval" value="200"/>
    <add key="RowsSolverPrecision" value="0.0001"/>
    <add key="RowsSolverPenalty" value="500"/>
    <add key="RowsSolverMaxIterations" value="12000"/>
    <add key="RowsSolverSlopeMargin" value="0.1"/>
    <add key="RowsSolverLengthMargin" value="0.1"/>
    <!-- zones solver parameters -->
    <add key="ZonesSolverCPU" value="SolverZonesGradientDescent"/>
    <add key="ZonesSolverGPU" value="SolverZonesGradientDescentGPU"/>
    <add key="ZonesSolverDelta" value="0.015"/>
    <add key="ZonesSolverInterval" value="300"/>
    <add key="ZonesSolverPrecision" value="0.0001"/>
    <add key="ZonesSolverPenalty" value="100"/>
    <add key="ZonesSolverMaxIterations" value="25000"/>
    <add key="ZonesSolverSlopeMargin" value="0.1"/>
    <add key="ZonesSolverLengthMargin" value="0.1"/>
    <add key="ZonesSolverContinuityMargin" value="0.01"/>
    <!-- basin solver parameters -->
    <add key="BasinSolverCPU" value="SolverNeighborReachable"/>
    <add key="BasinSolverGPU" value="SolverNeighborReachableGPU"/>
    <!-- ditch parameters -->
    <add key="DitchSurfaceSolverDelta" value="0.0125"/>
    <add key="DitchSurfaceSolverPrecision" value="0.00001"/>
    <add key="DitchSurfaceSolverMomentum" value="0"/>
    <add key="DitchSurfaceSolverMaxIterations" value="28000"/>
    <add key="DitchSurfaceSolverPenalty" value="5.0"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
