<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <specFlow>
    <unitTestProvider name="MsTest" />
    
  </specFlow>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <log4net debug="true">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="C:\Logs\AcceptanceTests\VSS.VisionLink.MasterDataService\%utcdate{yyyyMMMdd_HHmmss}.log" />
      <appendToFile value="false" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%utcdate [%thread] %-5level %logger %exception - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
  <appSettings>
    <!-- ########### Dev Environment Settings ###########-->
    <add key="DevAssetServiceBaseUri" value="52.89.125.212" />
    <add key="DevGroupServiceBaseUri" value="52.89.125.212:80" />
    <add key="DevGeofenceServiceBaseUri" value="52.89.125.212:80" />
    <add key="DevCustomerServiceBaseUri" value="52.89.125.212:80" />
    <add key="DevSubscriptionServiceBaseUri" value="52.89.125.212:80" />
    <add key="KafkaUri" value="10.210.246.60:9092" />

    <add key="DiscoveryURI" value="http://52.89.125.212/DiscoveryService/kafkatopic/v1" />
    <add key="Environment" value="dev" />
    <!-- Development -->
    <add key="TopicName" value="mdm-asset" />

    <!-- ########### Localhost Environment Settings ###########-->
    <add key="LocalAssetServiceBaseUri" value="localhost:53459" />
    <add key="LocalGroupServiceBaseUri" value="localhost:55660" />
    <add key="LocalGeofenceServiceBaseUri" value="localhost:53461" />
    <add key="LocalCustomerServiceBaseUri" value="localhost:14018" />
    <add key="LocalSubscriptionServiceBaseUri" value="localhost:14018" />
    <add key="KafkaUri" value="http://10.210.246.60:9092" />

    <!-- ########### Master Data Service Settings ###########-->
    <add key="AssetServiceKey" value="AssetUID" />
    <add key="GroupServiceKey" value="GroupUID" />
    <add key="CustomerServiceKey" value="CustomerUID" />
    <add key="GeofenceServiceKey" value="GeofenceUID" />
    <add key="SubscriptionServiceKey" value="SubscriptionUID" />
    <add key="AssetUri" value="asset" />
    <add key="GroupServiceTopic" value="testgroup" />
    <add key="GroupUri" value="group" />
    <add key="GeofenceServiceTopic" value="MDM-Geofence" />
    <add key="GeofenceUri" value="geofences" />

    <!-- ########### Test Environment Settings ###########-->
    <!--<add key="VSSTestEnv" value="LOCAL"/>-->
  <add key="VSSTestEnv" value="Dev" />

  </appSettings>
</configuration>