<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings xdt:Transform="Replace">
    <add key="RaptorApiUrl" value="http://raptor.myvisionlink.com/" />
  </appSettings>

  <connectionStrings xdt:Transform="Replace">
    <add name="LandfillContext" providerName="MySql.Data.MySqlClient" connectionString="server=pdxa-lfr-mdb01.cfescolwjzow.us-west-2.rds.amazonaws.com;port=3306;database=landfill;uid=landfill_op;password=Op3rat0r"/>
  </connectionStrings>
</configuration>