<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="Replace">
    <add key="RaptorApiUrl" value="http://dev-aslv01.vssengg.com/RaptorWebAPI/" />
  </appSettings>
  <connectionStrings xdt:Transform="Replace">
    <add name="LandfillContext" connectionString="server=rdsmysql-8469.c31ahitxrkg7.us-west-2.rds.amazonaws.com;database=VSS-Landfill-Dev;userid=vssLandfillUsr;password=(mRty94hER;Convert Zero Datetime=True;AllowUserVariables=True" />
    <add name="MySql.Connection" providerName="MySql.Data.MySqlClient" connectionString="server=rdsmysql-8469.c31ahitxrkg7.us-west-2.rds.amazonaws.com;database=VSS-Landfill-Dev;userid=vssLandfillUsr;password=(mRty94hER;Convert Zero Datetime=True;AllowUserVariables=True" />
  </connectionStrings>
</configuration>