<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings xdt:Transform="Replace">
    <add name="VSPDB"
         connectionString="server=vss-mysql-dev1.ckjc8lklhczu.us-west-2.rds.amazonaws.com;port=3306;database=landfill;userid=XXXUSERXXX;password=XXXPASSWORDXXX;Convert Zero Datetime=True;AllowUserVariables=True" />
    <add name="LandfillContext" providerName="MySql.Data.MySqlClient" connectionString="server=vss-mysql-dev1.ckjc8lklhczu.us-west-2.rds.amazonaws.com;port=3306;database=landfill;uid=landfill_op;password=Op3rat0r" />
  </connectionStrings>
  <appSettings xdt:Transform="Replace">
    <add key="log4net.Internal.Debug" value="true"/>
    <!-- This will be global but for now only one -->
    <add key="VisionLinkLogRoot" value="C:\Domains\Log" />
    <add key="KafkaServerUri" value="tcp://10.210.246.165:9092" />
    <add key="KafkaTopics"
         value="VSS.VisionLink.Interfaces.Events.MasterData.Models.CreateSubscriptionEvent,VSS.VisionLink.Interfaces.Events.MasterData.Models.UpdateSubscriptionEvent,VSS.Interfaces.Events.MasterData.Models.CreateProjectEvent,VSS.Interfaces.Events.MasterData.Models.UpdateProjectEvent,VSS.Interfaces.Events.MasterData.Models.DeleteProjectEvent" />
    <add key="KafkaWriterTopic" value="utilizationtrigger" />
    <add key="DatabaseUser" value="landfill_op" />
    <add key="DatabasePassword" value="Op3rat0r" />
    <add key="KafkaBackoffInterval" value="250" />
    <add key="DefaultTargetRuntimeHours" value ="0,8,8,8,8,8,0"/>
    <add key="DefaultTargetIdleHours"  value ="0,1.6,1.6,1.6,1.6,1.6,0"/>
    <add key="DefaultTargetStartSundayKeyDate"  value ="20140907"/>
  </appSettings>
</configuration>