<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <connectionStrings>
    <add name="VSPDB"
         connectionString="server=merino-utilization.ckjc8lklhczu.us-west-2.rds.amazonaws.com;database=Utilization_Feature;userid=XXXUSERXXX;password=XXXPASSWORDXXX;Convert Zero Datetime=True;AllowUserVariables=True" />
  </connectionStrings>
  <appSettings>
    <!-- This will be global but for now only one -->
    <add key="VisionLinkLogRoot" value="C:\Domains\Log" />
    <add key="KafkaServerUri" value="tcp://10.210.246.165:9092" />
    <add key="KafkaTopics"
         value="VSS.VisionLink.Interfaces.Events.Telematics.Machine.HoursEvent,VSS.VisionLink.Utilization.Common.Models.WorkDefinition,VSS.VisionLink.Interfaces.Events.Telematics.Machine.EngineOperatingStatusEvent,VSS.VisionLink.Interfaces.Events.Telematics.Machine.MovingEvent,VSS.VisionLink.Interfaces.Events.Telematics.Machine.SwitchStateEvent,VSS.VisionLink.Interfaces.Events.Telematics.Machine.OdometerEvent,VSS.VisionLink.Interfaces.Events.MasterData.Models.CreateAssetEvent,VSS.VisionLink.Interfaces.Events.MasterData.Models.UpdateAssetEvent,VSS.VisionLink.Interfaces.Events.MasterData.Models.DeleteAssetEvent" />
    <add key="KafkaWriterTopic" value="utilizationtrigger" />
    <add key="DatabaseUser" value="utilization" />
    <add key="DatabasePassword" value="Ut1l1zat!on" />
    <add key="KafkaBackoffInterval" value="250" />
    <add key="DefaultTargetRuntimeHours" value ="0,8,8,8,8,8,0"/>
    <add key="DefaultTargetIdleHours"  value ="0,1.6,1.6,1.6,1.6,1.6,0"/>
    <add key="DefaultTargetStartSundayKeyDate"  value ="20140907"/>
  </appSettings>
  <log4net>
    <appender name="VLAppender"
              type="VSS.VisionLink.Utilization.Common.Utilities.LogAppender, VSS.VisionLink.Utilization.Common.Utilities">
      <file value="VisionLinkServices/UtilizationDataFeedService.log" />
      <threshold value="DEBUG" />
    </appender>
    <renderer
      renderingClass="VSS.VisionLink.Utilization.Common.Utilities.ExceptionRenderer, VSS.VisionLink.Utilization.Common.Utilities"
      renderedClass="System.Exception" />
    <logger name="VSS">
      <appender-ref ref="VLAppender" />
    </logger>
  </log4net>
</configuration>
