<div class="jumbotron">
    <h1>Landfill service</h1>
    <p class="lead">This service provides data to the landfill client.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Please use online documentation available on this site.</p>
    </div>
</div>
