<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="Replace">
    <add key="RaptorApiUrl" value="http://t01-raptor.vss-eng.com/Report/api/v1/" />
  </appSettings>
</configuration>