<?xml version="1.0" encoding="utf-8"?>

<packages>
  <package id="C5" version="2.4.5828.26833" targetFramework="net452" />
  <package id="log4net" version="2.0.5" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="8.0.2" targetFramework="net452" />
  <package id="VSS.VisionLink.Interfaces.Events.MasterData" version="1.0.20.0" targetFramework="net452" />
</packages>