<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings xdt:Transform="Replace">
    <add name="VSPDB" connectionString="server=rdsmysql-8469.c31ahitxrkg7.us-west-2.rds.amazonaws.com;database=VSS-Landfill;userid=XXXUSERXXX;password=XXXPASSWORDXXX;Convert Zero Datetime=True;AllowUserVariables=True" xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings xdt:Transform="Replace">
    <add key="log4net.Internal.Debug" value="true"/>
    <!-- This will be global but for now only one -->
    <add key="VisionLinkLogRoot" value="C:\Domains\Log" />
    <add key="KafkaServerUri" value="tcp://10.210.246.165:9092" />
    <add key="KafkaTopics"
        value="VSS.VisionLink.Interfaces.Events.MasterData.Interfaces.IProjectEvent" />
    <add key="KafkaWriterTopic" value="utilizationtrigger" />
    <add key="DatabaseUser" value="root" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="DatabasePassword" value="d3vRDS1234_" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="KafkaBackoffInterval" value="250" />
    <add key="DefaultTargetRuntimeHours" value ="0,8,8,8,8,8,0"/>
    <add key="DefaultTargetIdleHours"  value ="0,1.6,1.6,1.6,1.6,1.6,0"/>
    <add key="DefaultTargetStartSundayKeyDate"  value ="20140907"/>
  </appSettings>
</configuration>