<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <appSettings>
    <!-- DEV -->
    <add key="RaptorApiUrl" value="http://prod-aslv01.vssengg.com/RaptorWebAPI/" />
    <!-- PROD -->
    <!--<add key="RaptorApiUrl" value="http://beta-aslv01.vspengg.com/RaptorWebAPI/"/>-->
    <add key="RaptorReportEndpoint" value="Report/api/v1/" />
    <add key="RaptorProdDataEndpoint" value="ProdData/api/v1/" />
    <add key="HoursToSleepForVolumes" value="0.25" />
    <add key="HoursToSleepForCCA" value="0.25" />
    <add key="StartDateForCCA" value="2016-05-01" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <!-- DEV -->
   <!-- <add name="LandfillContext" connectionString="server=rdsmysql-8469.c31ahitxrkg7.us-west-2.rds.amazonaws.com;database=VSS-Landfill-Alpha;userid=vssLandfillUsr;password=(mRty94hER;Convert Zero Datetime=True;AllowUserVariables=True" />
    <add name="MySql.Connection" providerName="MySql.Data.MySqlClient" connectionString="server=rdsmysql-8469.c31ahitxrkg7.us-west-2.rds.amazonaws.com;database=VSS-Landfill-Alpha;userid=vssLandfillUsr;password=(mRty94hER;Convert Zero Datetime=True;AllowUserVariables=True" /> -->
    <!-- PROD -->
    
    <add name="LandfillContext" connectionString="server=vss-landfill.caeli9f4iehl.us-west-2.rds.amazonaws.com;database=VSS-Landfill-V2-test;userid=Merino;password=Y8$hey9$ER5;Convert Zero Datetime=True;AllowUserVariables=True" />
    <add name="MySql.Connection" providerName="MySql.Data.MySqlClient" connectionString="server=vss-landfill.caeli9f4iehl.us-west-2.rds.amazonaws.com;database=VSS-Landfill-V2-test;userid=Merino;password=Y8$hey9$ER5;Convert Zero Datetime=True;AllowUserVariables=True" />
      
  </connectionStrings>
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level %logger %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="ConsoleAppender" />
    </root>
    <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="C:\Logs\VSS.Landfill.Datasync\Datasync %date{yyyyMMdd}.log" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger – %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="FileAppender" />
    </root>
  </log4net>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="textWriterTraceListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\Logs\LandfillDataSync.txt" />
      </listeners>
    </trace>
  </system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Topshelf" publicKeyToken="b800c4cfcdeea87b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.154.0" newVersion="3.3.154.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>
