<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!-- DEV -->
    <add key="RaptorApiUrl" value="http://dev-aslv01.vssengg.com/RaptorWebAPI/" />
    <!-- PROD -->
    <!--<add key="RaptorApiUrl" value="http://beta-aslv01.vspengg.com/RaptorWebAPI/"/>-->
    <add key="RaptorReportEndpoint" value="Report/api/v1/" />
    <add key="RaptorProdDataEndpoint" value="ProdData/api/v1/" />
    <add key="HoursToSleepForVolumes" value="2" />
    <add key="HoursToSleepForCCA" value="24" />
  </appSettings>
  <connectionStrings>
    <!-- DEV -->
      <add name="LandfillContext" connectionString="server=rdsmysql-8469.c31ahitxrkg7.us-west-2.rds.amazonaws.com;database=VSS-Landfill-Dev;userid=vssLandfillUsr;password=(mRty94hER;Convert Zero Datetime=True;AllowUserVariables=True" />
      <add name="MySql.Connection" providerName="MySql.Data.MySqlClient" connectionString="server=rdsmysql-8469.c31ahitxrkg7.us-west-2.rds.amazonaws.com;database=VSS-Landfill-Dev;userid=vssLandfillUsr;password=(mRty94hER;Convert Zero Datetime=True;AllowUserVariables=True" /> 
    <!-- PROD -->
    <!--
    <add name="LandfillContext"
      connectionString="server=vss-landfill.caeli9f4iehl.us-west-2.rds.amazonaws.com;database=VSS-Landfill;userid=Merino;password=Y8$hey9$ER5;Convert Zero Datetime=True;AllowUserVariables=True"/>
    <add name="MySql.Connection" providerName="MySql.Data.MySqlClient"
      connectionString="server=vss-landfill.caeli9f4iehl.us-west-2.rds.amazonaws.com;database=VSS-Landfill;userid=Merino;password=Y8$hey9$ER5;Convert Zero Datetime=True;AllowUserVariables=True"/>
      -->
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Topshelf" publicKeyToken="b800c4cfcdeea87b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.154.0" newVersion="3.3.154.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>