<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TestEnvironment" value="Dev"/>
    <add key="TestDataPath" value="..\\..\\TestData\\"/>

    <!--<add key="AuthProvider" value="VL"/>
    <add key="VLUserName" value="authenticate"/>
    <add key="VLPassword" value="VLm3rin_02"/>-->
  </appSettings>
</configuration>